name: Build
on: [push, pull_request]
jobs:
  build_lib:
    name: shared lib on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-13]
    steps:
      - uses: actions/checkout@v4
      - name: build lib
        run: make libtvbk.so
      - uses: actions/upload-artifact@v4
        with:
          name: libtvbk-${{ matrix.os }}
          path: ./libtvbk.so

  build_wheel:
    name: build ctypes-based wheel
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: python -m pip install -U ctypesgen wheel pip
      - run: make wheel
      - uses: actions/upload-artifact@v4
        with:
          name: tvbk-kernels-wheel
          path: ./tvb_kernels-*-py3-none-any.whl
        
  pytest:
    name: test ${{ matrix.os }}
    needs: [build_lib, build_wheel]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-13]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
      - run: ls -lh
      - run: unzip *.zip
      - run: python -m pip install -U pytest
      - run: python -m pip install tvb_kernels*.whl
      # TODO put the .so into site-packages
      - run: pytest tests.py

