name: Build

on: [push, pull_request]

env:
  # wheel is version independent, one build per platform is enough
  CIBW_BUILD: "cp310-*"
  CIBW_ARCHS: "auto64"
  CIBW_SKIP: "pp*"

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-13]

    steps:
      - uses: actions/checkout@v4

      # - uses: actions/setup-python@v5

      # - name: Install cibuildwheel
      #   run: python -m pip install cibuildwheel==2.20.0

      # - name: install some deps
      #   run: python -m pip install -U ctypesgen

      - name: build lib
        run: make libtvbk.so

      # - name: Build wheels
      #   run: python -m cibuildwheel --output-dir wheelhouse

      # - uses: actions/upload-artifact@v4
      #   with:
      #     name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
      #     path: ./wheelhouse/*.whl
      - uses: actions/upload-artifact@v4
        with:
          name: libtvk-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./libtvbk.so
