name: build & test
on: [push, pull_request]
jobs:

  build_wheels:
    name: shared lib on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-13, macos-14, windows-latest]
    steps:
      - uses: actions/checkout@v4
      - uses: pypa/cibuildwheel@v2.19
      - uses: actions/upload-artifact@v4
        with:
          name: dist-${{ matrix.os }}
          path: wheelhouse/*.whl

  merge_wheels:
    name: merge wheels into single artifact
    needs: [build_wheels] #, build_sdist]
    steps:
      - uses: actions/upload-artifact/merge@v4
        with:
          name: dist
          pattern: dist-*


